<h1 [class.text-red]="textRed" [style.font-size]="fontSize">O nome é {{text}} {{retornaNome()}}</h1>
<h1 [class]="className">O nome é {{text}} {{retornaNome()}}</h1>

<img src="{{imageUrl}}" alt="{{alt}}" [style.width.%]="widthImg" (click)="clicou('img')">

<br>

<img [src]="imageUrl" [alt]="alt" (click)="clicou('img')" [style.width.px]="widthImg">

<button [attr.aria-label]="buttonText" [style.backgroundColor]="bgColor">{{buttonText}}</button>

<button (click)="clicou('btn')" [style.background-color]="bgColor">Clique</button>

<input #input (keyup)="clicou(input.value)">

<br>

{{input.value}}

<input type="text" class="form-control" [(ngModel)]="textInput">
<p class="text-default">{{textInput}}</p>

<app-button [btnText]="'Enviar'" [btnType]="'btn-danger'" (click)="destroiComponente()"></app-button>
<app-button [btnText]="'Salvar'" [btnType]="'btn-success'"></app-button>
<app-button [btnText]="'Clique Aqui'" [btnType]="'btn-primary'" (click)="incrementa()"></app-button>
<app-button btnText="teste" btnType="btn-default" (clickChildren)="clicouNoFilho($event)"></app-button>

<app-life-cycle [number]="number" *ngIf="!destroy"></app-life-cycle>